body {
    box-sizing: border-box;
    width: 100vw;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    height: 180px;
    background-color: #EEEEEE;
    justify-content: space-around;

}

.header img {
    height: auto;
    width: 150px;
    // margin-right: 20rem;
    position: relative;
    top: 10%;
}

header a {
    text-decoration: none;
    margin-left: 0.5rem;

}

.ab {
    display: flex;
    align-items: center;
}

nav {
    font-size: 1.3rem;
    display: flex;
    align-self: center;
}

section.menu {
    display: flex;
    flex-direction: column;
    // margin-left: 10rem;
    line-height: 2.25rem;
    width: 70%;
    margin: 0 auto;
}

.card_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_box_1 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 40%;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 40%;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.menu img {
    width: 110%;
    position: relative;
    top: 1.5rem;
}

footer {
    height: 200px;
    background-color: #334257;
}


@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
    }

    .header {
        margin: 0;
    }

    .ab {
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    section.menu {
        display: flex;
        flex-direction: column;
    }

    .card_box {
        display: flex;
        flex-direction: column;
    }

    .card_box_1 {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        width: 100%;
    }

    .card {
        width: 100%;
    }
}